DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/portfolio_db
SECRET_KEY=change_this_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_URL=http://localhost:5500
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
